<div class="row books">
  <div class="span9">
    <h2 class="category"><%= t 'recommendation' %></h2>
    <ul class="media-list book-list clearfix">
      <li class="media" ng-repeat="image in recommends">
      <a href="#/images/{{image.objectId}}"><img ng-src="{{image.file_key | thumb}}" alt="" class="picture-cover" /></a>
        <span class="title">{{image.title}}</span>
        <div class="{{!image.rate && 'invisible' || 'visible'}}">
          <rating value="image.rate || 0" max="5" readonly="true"></rating>
        </div>
      </li>
    </ul>
    <div class="clearfix"></div>
    <h2 class="category"><%= t 'newest' %> <a href="#/books/newest"><%= t 'more' %>... </a></h2>
    <ul class="media-list book-list clearfix">
      <li class="media" ng-repeat="image in images">
      <a href="#/images/{{image.objectId}}"><img ng-src="{{image.file_key | thumb}}" alt="" class="picture-cover" /></a>
        <span class="title">{{image.title}}</span>
        <div class="{{!image.rate && 'invisible' || 'visible'}}">
          <rating value="image.rate || 0" max="5" readonly="true"></rating>
        </div>
      </li>
    </ul>
    <div class="clearfix"></div>
    <h2 class="category"><%= t 'popular' %></h2>
    <ul class="media-list book-list clearfix">
      <li class="media" ng-repeat="image in month_top">
        <a href="#/images/{{image.objectId}}"><img ng-src="{{image.file_key | thumb}}" alt="" class="picture-cover" /></a>
        <span class="title">{{image.title}}</span>
        <div class="{{!image.rate && 'invisible' || 'visible'}}">
          <rating value="image.rate || 0" max="5" readonly="true"></rating>
        </div>
      </li>
    </ul>
    </div>
    <div class="span3">
      <h2 class="category"><%= t 'top5byweek' %></h2>
      <ul class="media-list book-list clearfix sidebar">
          <li class="media" ng-repeat="image in week_top">
            <a href="#/images/{{image.objectId}}"><img ng-src="{{image.file_key | thumb}}" alt="" class="picture-cover" /></a>
            <span class="title">{{image.title}}</span>
            <div class="{{!image.rate && 'invisible' || 'visible'}}">
              <rating value="image.rate || 0" max="5" readonly="true"></rating>
            </div>
          </li>
      </ul>
    </div>
  </div>

