<div class="row">
  <div class="login-panel span6 offset3">
    <form class="form-horizontal" name="password_modify_form" data-ng-submit="submit_form()">
      <legend><%= t 'password_modify' %></legend>
      <div class="alert alert-success" data-ng-show="succ_msg">{{succ_msg}}</div>
      <div class="alert alert-error" data-ng-show="fail_msg">{{fail_msg}}</div>
      <div class="control-group">
        <label class="control-label" for="old_password"><%= t 'password' %></label>
        <div class="controls">
          <input type="password" data-ng-model="model.oldpassword" id="old_password" placeholder="<%= t 'password_old' %>" required>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="password"><%= t 'password_new' %></label>
        <div class="controls">
          <input type="password" id="password" name="password" placeholder="<%= t 'password_new' %>" data-ng-model="model.password" required />
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="password_confirmation"><%= t 'password_confirm' %></label>
        <div class="controls">
          <input type="password"
          id="password_confirmation" placeholder="<%= t 'password_confirm' %>"
          ng-model="model.password_confirmation" passwordconfirm="#password" name="password_confirmation" required />
          <span class="help-inline" ng-show="password_modify_form.password_confirmation.$error.password"><%= t 'password_invalid' %></span>
        </div>
      </div>
      <div class="form-actions">
        <button type="submit" class="btn btn-primary"><%= t 'Update' %></button>
        <button type="button" class="btn"><%= t 'cancel' %></button>
      </div>
    </form>
  </div>
</div>
