<div class="row col-wrap">
  <div class="col span3 wrapper">
    <div class="user-container">
      <div class="clearfix user-info">
        <img src="/assets/user.png" alt="" class="avatar pull-left" />
        <h1 class="username">Aisensiy</h1>
      </div>
      <hr />
      <ul class="items unstyled">
        <li><span><%= t 'book' %>: </span>{{books.count}}</li>
        <li><a href="#/users/password_modify"><%= t 'password_modify' %></a></li>
      </ul>
    </div>
  </div>
  <div class="col span9 wrapper" ng-controller="UploadCtrl">
    <form name="book_form" enctype="multipart/form-data" ng-submit="submit_form()">
      <div class="alert alert-success" ng-show="succ_msg">{{succ_msg}}</div>
      <div class="alert alert-error" ng-show="fail_msg">{{fail_msg}}</div>
      <div class="row">
        <div class="span5">
          <div class="basic-info">
            <label><%= t 'upload_message' %></label>
            <input type="file" name="file" ng-model='model.upload' valid-file required style="line-height: normal;" />
            <br />
            <br />
            <label><%= t 'upload_link_message' %></label>
            <input type="url" name="x:url" placeholder="http://book.douban.com/subject/6798611" class="span5" ng-required="is_book" ng-model="book.url">
            <input name="token" type="hidden" value="{{token}}" />
          </div>
        </div>
        <div class="span4">
          <div class="extra-info">
            <div class="control-group">
              <label><%= t 'lang' %></label>
              <div class="book-options">
                <label class="radio inline" ng-repeat="lang in langs">
                  <input type="radio" name="x:lang" value="{{lang.value}}"> {{lang.name}}
                </label>
              </div>
            </div>
            <hr />
            <label for="" class="checkbox inline">
              <input type="checkbox" name="x:is_public" value="1" ng-model="book.is_public" />
              <%= t 'public_message' %>
            </label>
          </div>
        </div>
        <div class="span9">
          <div class="control-group submit">
            <div class="controls pull-right">
              <button type="submit" class="btn btn-primary"
                ng-disabled="book_form.$invalid || is_loading"><%= t 'submit' %></button>
              <button ng-disabled="book_form.$invalid || !is_loading" ng-click="cancel()" class="btn btn-primary"><%= t 'cancel' %></button>
            </div>
          </div>
        </div>
      </div>
      <div class="progress">
        <div class="bar" style="width: {{percentage}}%;"></div>
      </div>
    </form>
  </div>
</div>

<div class="row books">
  <div class="span12">
    <h2 class="category"><%= t 'book_own' %></h2>
    <div class="container">
      <ul class="media-list book-list clearfix">
        <li class="media" ng-repeat="book in books.results">
        <a href="#/books/{{book.objectId}}"><img ng-src="{{book.cover_url}}" alt="" class="cover" /></a>
        <span class="title">{{book.title}}</span>
        <rating value="book.rate" max="5" readonly="true"></rating>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="row books">
  <div class="span12">
    <h2 class="category"><%= t 'image_own' %></h2>
    <div class="container">
      <ul class="media-list book-list clearfix">
        <li class="media" ng-repeat="image in images.results">
        <a href="{{image.objectId}}"><img ng-src="{{image.file_key | thumb}}" alt="" class="picture-cover" /></a>
        <span class="title">{{image.title}}</span>
        <rating value="image.rate" max="5" readonly="true"></rating>
        </li>
      </ul>
    </div>
  </div>
</div>
