<script type="text/ng-template" id="images_html">
  <%= render "app2/images/images" %>
</script>

<script type="text/ng-template" id="books_html">
  <%= render "books" %>
</script>

<script type="text/ng-template" id="book_html">
  <%= render "book" %>
</script>

<script type="text/ng-template" id="image_html">
  <%= render "app2/images/image" %>
</script>

<script type="text/ng-template" id="book_new_html">
  <%= render "self_page" %>
</script>

<script type="text/ng-template" id="password_modify_html">
  <%= render "password_modify" %>
</script>

<script type="text/ng-template" id="book_edit_html">
  <%= render "edit_book" %>
</script>

<script type="text/ng-template" id="image_edit_html">
  <%= render "app2/images/edit_image" %>
</script>

<script type="text/ng-template" id="books_list_html">
  <%= render "books_list" %>
</script>

<div class="row">
  <div class="span12">
    <div id="loading" ng-show="loading">Loading...</div>
    <div data-ng-view></div>
  </div>
</div>

