<div class="row">
  <div class="span12">
    <div data-ng-view></div>
  </div>
  <script type="text/ng-template" id="sign_in.html">
    <%= render "sign_in" %>
  </script>
  <script type="text/ng-template" id="sign_up.html">
    <%= render "sign_up" %>
  </script>
  <script type="text/ng-template" id="books.html">
    <%= render "books" %>
  </script>
  <script type="text/ng-template" id="book.html">
    <%= render 'book' %>
  </script>
  <script type="text/ng-template" id="password_reset.html">
    <%= render 'password_reset' %>
  </script>
  <script type="text/ng-template" id="password_modify.html">
    <%= render 'password_modify' %>
  </script>
  <script type="text/ng-template" id="book_new.html">
    <%= render 'book_new' %>
  </script>

</div>
