<!DOCTYPE html>
<html lang="en">
  <%= render "layouts/head2" %>

  <body data-ng-app="App" ng-cloak>
    <div class="container" ng-controller="NaviBarCtrl">
      <div>
        <div modal="shouldBeOpen" close="close_modal()" options="opts" class="sign-modal">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="close_modal()">&times;</button>
            <ul>
              <li><a href="" ng-click="Panel.set_panel('signin')"><%= t 'sign_in' %></a></li>
              <li>|</li>
              <li><a href="" ng-click="Panel.set_panel('signup')"><%= t 'register' %></a></li>
            </ul>
          </div>
          <div class="modal-body">
            <div class="login-panel" ng-show="Panel.get_panel() == 'signin'" ng-controller="SignInCtrl">
              <form class="form-horizontal" ng-submit="submit_form()" name="login_form">
                <legend><%= t 'sign_in' %></legend>
                <div class="alert alert-error" ng-show="error_msg">{{error_msg}}</div>
                <div class="control-group">
                  <label class="control-label" for="inputEmail"><%= t 'username' %></label>
                  <div class="controls">
                    <input type="text" id="inputUsername" placeholder="<%= t 'username' %>" ng-model="user.username" autofocus required>
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label" for="inputPassword"><%= 'password' %></label>
                  <div class="controls">
                    <input type="password" id="inputPassword" ng-model="user.password" placeholder="<%= t 'password' %>" required>
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label" for="captcha"><%= t 'captcha' %></label>
                  <div class="controls">
                    <input type="text"
                    id="captcha" placeholder=""
                    ng-model="user.captcha" name="captcha" required />
                    <img alt="captcha" height="40" ng-src="{{get_captcha_src()}}" width="140">
                  </div>
                </div>
                <div class="form-actions">
                  <input type="submit" class="btn btn-primary" value="<%= t('sign_in') %>" id="submit" />
                  <span class="help-inline"><a href="" ng-click="Panel.set_panel('reset')" data-original-title=""><%= t('forgot_password') %>?</a></span>
                </div>
              </form>
            </div>
            <div class="login-panel" ng-show="Panel.get_panel() == 'signup'" ng-controller="SignUpCtrl">
              <form class="form-horizontal" data-ng-submit="submit_form()" name="signup_form">
                <legend><%= t('register') %></legend>
                <div class="alert alert-error" ng-show="error_msg">{{error_msg}}</div>
                <div class="control-group">
                  <label class="control-label" for="email"><%= t 'email' %></label>
                  <div class="controls">
                    <input type="email" id="email" name="email" placeholder="<%= t 'email' %>" ng-model="user.email" required autofocus />
                    <span class="help-inline" ng-show="signup_form.email.$error.email"><%= t 'email_invalid' %></span>
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label" for="username"><%= t 'username' %></label>
                  <div class="controls">
                    <input type="text" id="username" name="username" placeholder="<%= t 'username' %>" ng-model="user.username" required>
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label" for="password"><%= t 'password' %></label>
                  <div class="controls">
                    <input type="password" id="password" name="password" placeholder="<%= t 'password' %>" ng-model="user.password" required />
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label" for="password_confirmation">Password Confirm</label>
                  <div class="controls">
                    <input type="password"
                    id="password_confirmation" placeholder="Password"
                    ng-model="user.password_confirmation" passwordconfirm="#password" name="password_confirmation" required />
                    <span class="help-inline" ng-show="signup_form.password_confirmation.$error.password"><%= t 'password_invalid' %></span>
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label" for="captcha"><%= 'captcha' %></label>
                  <div class="controls">
                    <input type="text"
                    id="captcha" placeholder=""
                    ng-model="user.captcha" name="captcha" required />
                    <img alt="captcha" height="40" ng-src="{{get_captcha_src()}}" width="140">
                  </div>
                </div>
                <div class="form-actions">
                  <button type="submit" class="btn btn-primary"><%= t 'sign_up' %></button>
                  <button type="button" class="btn" ng-click="close_modal()"><%= t 'cancel' %></button>
                </div>
              </form>
            </div>
            <div class="login-panel" ng-show="Panel.get_panel() == 'reset'" ng-controller="PasswordResetCtrl">
              <form class="form-horizontal" name="reset_form" data-ng-submit="submit_form()">
                <legend><%= t 'reset_password' %></legend>
                <div class="alert alert-error" ng-show="fail_msg">{{fail_msg}}</div>
                <div class="alert alert-success" ng-show="succ_msg">{{succ_msg}}</div>
                <div class="control-group">
                  <label class="control-label" for="email"><%= t 'email' %></label>
                  <div class="controls">
                    <input type="email" id="email" name="email" placeholder="<%= 'email' %>" ng-model="model.email" required autofocus />
                    <span class="help-inline" ng-show="reset_form.email.$error.email"><%= t 'email_invalid' %></span>
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label" for="captcha"><%= t 'captcha' %></label>
                  <div class="controls">
                    <input type="text" id="captcha" placeholder=""
                    ng-model="model.captcha" name="captcha" required />
                    <img alt="captcha" height="40" ng-src="{{get_captcha_src()}}" width="140">
                  </div>
                </div>
                <div class="form-actions">
                  <button type="submit" class="btn btn-primary" ng-disabled="reset_form.$invalid"><%= t 'send_reset_email' %></button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="span12">
          <div class="navbar">
            <div class="navbar-inner">
              <a class="brand" href="/">ONYX Store</a>
              <ul class="nav pull-right" ng-hide="user">
                <li><a href="" ng-click="sign_in_popup()"><%= t 'sign_in' %></a></li>
                <li><a href="" ng-click="sign_up_popup()"><%= t 'sign_up' %></a></li>
              </ul>
              <ul class="nav pull-right" role="navigation" ng-show="user">
                <li><a href="#/book-upload"><%= t 'upload' %></a></li>
                <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="/test" title="<%= t 'profile' %>">
                    <span class="headerTinymanName">{{user.username}}<b class="caret"></b></span>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="#/book-upload"><%= t 'profile' %></a></li>
                    <li><a ng-click="signout()"><%= t 'sign_out' %></a></li>
                  </ul>
                </li>
              </ul>
              <form class="navbar-search pull-right" ng-submit="submit_form()">
                <input type="text" ng-model="q" class="search-query" placeholder="<%= t 'search' %>">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div><!-- top bar -->
    <div class="container">
      <div class="row">
        <div class="span12">
          <ul class="nav nav-main">
            <li><a href="#/books"><%= t 'book' %></a></li>
            <li><a href="#/images"><%=  t 'wallpaper' %></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container main-container">
      <div class="row">
        <div class="span12">
          <%= bootstrap_flash %>
          <%= yield %>
        </div>
      </div><!--/row-->
    </div> <!-- /container -->

    <div class="container">
      <div class="row">
        <div class="span12">
          <footer class="footer">
            <p>© Company 2013</p>
            <p>
              <%= link_to "中文版", controller: controller.controller_name, action: controller.action_name, locale: "zh-CN" %>
              <%= link_to "English", controller: controller.controller_name, action: controller.action_name, locale: "en" %>
            </p>
          </footer>
        </div>
      </div><!--/row-->
    </div> <!-- /container -->

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript">
      I18n.defaultLocale = "<%= I18n.default_locale %>";
      I18n.locale = "<%= I18n.locale %>";
    </script>
    <%= javascript_include_tag "application2" %>

  </body>
</html>
