<!DOCTYPE html>
<html lang="en">
  <%= render "layouts/head" %>

  <body data-ng-app="App">
    <%= render "layouts/header" %>
    <div class="container">
      <div class="row">
        <div class="span12">
          <%= bootstrap_flash %>
          <%= yield %>
        </div>
      </div><!--/row-->
    </div> <!-- /container -->

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>

  </body>
</html>
